@charset "UTF-8";

.imghome{
	height: 170px;
}

.titleText{
	font-size: 2.4rem;
}

.normalText{
	display: grid;
    gap: 0.5rem;
    font-size: smaller;
}

.empresaDiv{
	display: flex;
    align-items: center;
    text-align: center;
}

.exmpresaText{
	text-align: left;
    margin-left: 10rem;
}

.backimg{
	opacity: 0.75;
}

.menuCategoryItem{
	display: flex;
    justify-content: center;
    align-items: center;
	gap: 1rem;
}

.brand1 {
    position: absolute;
    display: block;
    text-align: center;

	width: 13.125em; /* 226/16 */
	margin-left: -7.0625em; /* 113/16 */
	padding-top: 0.5em;

    img {
        width: 100%;
    }
}